&,
& p {
	@extend %base-style;
}

.editor-block-list__block {

	&[data-align="wide"] {
		max-width: 1300px !important;
	}

	&[data-align="full"] {
		margin: 0 auto;
		max-width: 100% !important;
	}
}

.editor-post-title__input,
.editor-rich-text__tinymce {
	font-family: $base-font !important;
}

@media screen and (min-width: 768px) {

	.editor-post-title__block,
	.editor-block-list__block {
		max-width: 1100px !important;
	}
}

// fix where our custom align full width classes would overflow the editor.

.alignfull {
	left: 0 !important;
	width: 100% !important;
}
