&,
& p {
	//@extend %base-style;
}

.edit-post-visual-editor .editor-block-list__block[data-align="wide"] {
	max-width: 1300px !important;
}

.edit-post-visual-editor .editor-block-list__block[data-align="full"] {
	margin: 0 auto;
	max-width: 100% !important;
}

@media screen and (min-width: 768px) {

	.edit-post-visual-editor .editor-post-title,
	.edit-post-visual-editor .editor-block-list__block {
		max-width: 1100px !important;
	}
}
