// ==========================================================================
// Gutenberg / Frontend
// We use this file to load Gutengerg specific styles for the front-end
// =========================================================================

.alignfull {
	margin-left: calc(-100vw / 2 + 100% / 2) !important;
	margin-right: calc(-100vw / 2 + 100% / 2) !important;
	max-width: none;
	width: 100vw;
}

.alignwide {
	@include media-breakpoint-up(md) {
		margin-left: calc(-#{$block-wide-width} / 2 + 100% / 2) !important;
		margin-right: calc(-#{$block-wide-width} / 2 + 100% / 2) !important;
		max-width: none;
		width: $block-wide-width;
	}
}
