// ==========================================================================
// Gutenberg / general
// We use this file to load Gutengerg specific styles for both the front- and backend
// =========================================================================

@import "elements/gutenberg-cols";
@import "elements/gutenberg-alignment";
@import "elements/gutenberg-captions";
@import "elements/gutenberg-embeds";

.screen-reader-text {
	@extend .sr-only;
	@extend .sr-only-focusable;
}

.wp-block-gallery {
	margin-left: 0;
}

.wp-block-image {
	margin-bottom: 1rem;

	@include media-breakpoint-up(md) {

		img {
			width: auto;
		}
	}

	@include media-breakpoint-up(lg) {
		margin-bottom: 2rem;
	}
}

.wp-block-button__link {
	@extend %button;
}

.wp-block-column {

	.wp-block-quote {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		height: 100%;
		margin: 0;
	}

	.wp-block-image {
		margin-bottom: 1rem;
	}
}

.blocks-gallery-item,
.wp-block-image {

	figure {
		background-color: #cecece;
	}
}

.wp-block-table {
	@extend .table;
}
