%base-style {
	margin: 0;
	font-family: $base-font;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.4;
	color: $base-color;
}

%button {
	@include pxtorem(16px);

	display: inline-block;
	width: 100%;
	padding: 15px 10px;
	margin-right: 30px;
	margin-bottom: 15px;
	font-weight: 700;
	line-height: 26px;
	color: $base-color;
	text-align: center;
	border-style: solid;
	border-width: 2px;
	transition: all ease 0.3s;

	.is-style-outline & {
		background: transparent;
	}

	&:last-of-type {
		margin-right: 0;
	}

	&:hover {
		color: $base-color;
		text-decoration: none;
	}
}
