.lazyload {
	opacity: 0;
}

.lazyload:not( .initial ) {
	transition: opacity 1s;
}

.lazyload.initial,
.lazyload.loaded,
.lazyload.error {
	opacity: 1;
}

img[data-src],
img[data-srcset] {
	display: block;
	min-height: 1px;
}

img[src] {
	display: block;
	width: 100%;
	height: auto;
}