// ==========================================================================
// 1. COMMON / Variables
// ==========================================================================

// ==========================================================================
// Main Colors
// http://chir.ag/projects/name-that-color/
// ==========================================================================

$highlight1: #008ec2;
$highlight2: #cccccc;
$black: #000000;
$base-color: $black;
// ==========================================================================
// Font settings
// ==========================================================================

$base-font: sans-serif;
$base-font-size: 1.25rem; //20px

// ==========================================================================
// Margins
// ==========================================================================

$base-margin: 1rem;
$margin_2x: $base-margin * 2;

// ==========================================================================
// Gutenberg
// ==========================================================================

$block-wide-width: 90vw;
