// Search form

.search-form {
	@extend .form-inline;
}

.search-form label {
	@extend .form-group;

	font-weight: 400;
}

.search-form .search-field {
	@extend .form-control;
}

.search-form .search-submit {
	@extend .btn;
	@extend .btn-secondary;
}

input,
select,
textarea {
	width: 100%;
	padding: 10px;
	color: $base-color;
	background-color: #ffffff;
	border: 1px solid $highlight1;
}

input[type="checkbox"],
input[type="radio"] {
	width: auto;
	margin-right: 10px;
}

input:focus,
textarea:focus {
	outline: none;
}

input[type="button"],
input[type="reset"],
input[type="submit"] {
	@extend .button;
}
