// Search form

.search-form {
	@extend .form-inline;
}

.search-form label {
	font-weight: 400;

	@extend .form-group;
}

.search-form .search-field {
	@extend .form-control;
}

.search-form .search-submit {
	@extend .btn;
	@extend .btn-secondary;
}

input,
select,
textarea {
	background-color: #ffffff;
	border: 1px solid $highlight1;
	color: $base-color;
	padding: 10px;
	width: 100%;
}

input[type="checkbox"],
input[type="radio"] {
	margin-right: 10px;
	width: auto;
}

input:focus,
textarea:focus {
	outline: none;
}

input[type="button"],
input[type="reset"],
input[type="submit"] {
	@extend .button;
}
