// WordPress Generated Classes
// http://codex.wordpress.org/CSS#WordPress_Generated_Classes

// Media alignment

.alignnone {
	height: auto;
	margin-left: 0;
	margin-right: 0;
	max-width: 100%;
}

.aligncenter {
	clear: both;
	height: auto;
	margin: ($spacer) auto;
}

.alignleft,
.alignright {
	height: auto;
	margin-bottom: ($spacer);
}

@include media-breakpoint-up(sm) {
	// Only float if not on an extra small device

	.alignleft {
		float: left;
		margin-right: ($spacer);
	}

	.alignright {
		float: right;
		margin-left: ($spacer);
	}
}

// Captions

.wp-caption {
	@extend .figure;
}

.wp-caption img {
	@extend .figure-img;
	@extend .img-fluid;
}

.wp-caption-text {
	@extend .figure-caption;
}

// Text meant only for screen readers

.screen-reader-text {
	@extend .sr-only;
	@extend .sr-only-focusable;
}

// gutenberg styles
// Captions

.wp-caption {
	@extend .figure;
}

.wp-caption img {
	@extend .figure-img;
	@extend .img-fluid;
}

.wp-caption-text {
	@extend .figure-caption;
}

// Text meant only for screen readers

.screen-reader-text {
	@extend .sr-only;
	@extend .sr-only-focusable;
}

.wp-block-columns {
	@extend .row;

	&.has-3-columns .wp-block-column {
		@extend .col-12;

		@include media-breakpoint-up(md) {
			@include columns(3);
		}
	}

	&.has-4-columns .wp-block-column {
		@extend .col-12;

		@include media-breakpoint-up(md) {
			@include columns(2);
		}

		@include media-breakpoint-up(lg) {
			@include columns(4);
		}
	}
}

.wp-block-column {
	@extend .col;

	&:nth-child( 2n + 1 ),
	&:not( :last-child ) {
		padding-left: 15px;
	}

	@include media-breakpoint-down(md) {
		flex: 1 auto;
	}
}

.wp-block-image {
	margin-bottom: 1rem;

	@include media-breakpoint-up(lg) {
		margin-bottom: 4rem;
	}
}

div.wp-block-button a.wp-block-button__link {
	@extend .button;

	&:hover {
		background-color: transparent;
	}
}

.section--gutenberg {
	overflow: hidden;
}

.alignfull,
.alignwide {
	background-color: white;
	color: rgba(0, 0, 0, 0.6);
	margin-left: calc(-100vw / 2 + 100% / 2);
	margin-right: calc(-100vw / 2 + 100% / 2);
	max-width: 100vw;
	padding: 0 15px;

	&.wp-block-image {
		padding: 0;
	}

	//@include align-element-full-left();

	@include media-breakpoint-up(xl) {
		margin-bottom: 4rem;
	}
}

.wp-block-quote {
	color: $highlight1;

	p {
		font-size: 2rem;
		font-weight: lighter;
		line-height: 1.4;

		@include media-breakpoint-up(md) {
			font-size: 2.5rem;
		}
	}
}

.blocks-gallery-item,
.wp-block-image {

	figure {
		background-color: #cecece;
	}
}
