%base-style {
	color: $base-color;
	font-family: $base-font;
	font-size: 16px;
	font-weight: normal;
	line-height: 1.4;
	margin: 0;
}

%button {
	@include pxtorem(16px);

	background: $highlight1;
	border-style: solid;
	border-width: 2px;
	color: $base-color;
	display: inline-block;
	font-weight: bold;
	line-height: 26px;
	margin-bottom: 15px;
	margin-right: 30px;
	padding: 15px 10px;
	text-align: center;
	transition: all ease 0.3s;
	width: 100%;

	.is-style-outline & {
		background: transparent;
	}

	&:last-of-type {
		margin-right: 0;
	}

	&:hover {
		background: $highlight2;
		color: $base-color;
		text-decoration: none;
	}
}

.lazyload {
	opacity: 0;
	transition: opacity 0.4s ease 0.2s;

	&[data-was-processed="true"] {
		opacity: 1;
	}
}
