@mixin vertical-align {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

@mixin aspect-ratio($width, $height) {
	position: relative;

	&::before {
		content: "";
		display: block;
		padding-top: ($height / $width) * 100%;
		width: 100%;
	}

	> .content {
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
	}
}

@mixin transition($property) {
	transition: $property 0.4s ease-in;
}

@mixin pxtorem($size) {
	$remSize: $size / 16px;

	font-size: #{$remSize}rem;
}

@mixin columns($number) {
	flex: 0 0 (100% / $number);
	max-width: (100% / $number);
}

@mixin align-element-full-left($max-widths: $container-max-widths, $breakpoints: $grid-breakpoints) {
	@each $breakpoint, $container-max-width in $max-widths {
		@include media-breakpoint-up($breakpoint, $breakpoints) {
			left: calc(((100vw - #{$container-max-width}) / 2) * -1 - 15px);
		}
	}
}
