// Glyphicons font path
$icon-font-path: "../fonts/";

// Grid settings
$main-sm-columns: 12;
$sidebar-sm-columns: 4;
$base-margin: 1rem;
$color-primary: #5f604a;
$color-secondary: #51889a;
$base-color: #000000;
