// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$nnz:                   #080808;
$red:                   #e74011;
$blue:                  #b2ced7;
$green:                 #7ba02d;
$background:            #f5f5f5;
