.logo{
  width: 300px;
  top: 76px;
  position: fixed;
  @include media-breakpoint-down(md) {
    position: relative;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  @include media-breakpoint-down(sm) {
    width: 250px;
  }
}
