.alignfull {
	padding: 0 15px;
}

.alignfull,
.alignwide {

	&.wp-block-image {
		padding: 0;
	}

	@include media-breakpoint-up(xl) {
		margin-bottom: 4rem;
	}
}

.alignnone {
	max-width: 100%;
	height: auto;
	margin-right: 0;
	margin-left: 0;
}

.aligncenter {
	height: auto;
	margin: ($spacer) auto;
	clear: both;
	text-align: center;
}

.alignleft,
.alignright {
	height: auto;
	margin-bottom: ($spacer);
}

@include media-breakpoint-up(sm) {
	// Only float if not on an extra small device

	.alignleft {
		float: left;
		margin-right: ($spacer);
	}

	.alignright {
		float: right;
		margin-left: ($spacer);
	}
}
